$pagewidth: 1350px;
$open: 'Open Sans';
$oswald: 'Oswald';
$mainfont: HSLA(205, 18%, 68%, 1);
$bluetitle: HSLA(204, 82%, 18%, 1);

#mainfont(){
  color:HSLA(205, 18%, 68%, 1);
  font-family: 'Open Sans';
}

#nolist(){
  list-style-type: none;
}
