$pagewidth: 1350px;
$open: 'Open Sans';
$oswald: 'Oswald';
$lightgray: HSLA(206, 18%, 69%, 1);
$darkgray: HSLA(206, 8%, 40%, 1);
$darkblue: HSLA(204, 82%, 18%, 1);
$lightblue:HSLA(206, 71%, 34%, 1);
$nomargin: 0px;



#mainfont{
  color:HSLA(205, 18%, 68%, 1);
  font-family: 'Open Sans';
}

#nolist{
  list-style-type: none;
  display: inline;
}
